.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  max-width: 250px;
  margin-top: 20px;

  &__icon-wrapper {
    margin-bottom: 20px;
    color: #10b981;
    font-size: 32px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: #111827;
    margin-bottom: 8px;
  }
  &__description {
    font-size: 16px;
    color: #6b7280;
  }
}
