.personal-info {
  padding: 20px;
  margin-top: 20px;
  
  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #374151;

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #e0e0e0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }

  &__label {
    width: 120px;
    font-weight: 500;
    color: #6b7280;
  }

  &__value {
    color: #1f2937;
    padding: 8px 12px;
    width: 300px;
    background-color: #f9fafb;
    border-radius: 6px;
    border: #dae6f8 1px solid;
  }

  &__edit-button{
    background-color: #00abfa;
    height: 40px;
    width: 150px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 120px;
  }
}
