<div class="px-6 py-20 md:px-12 lg:px-20">
    <div class="text-surface-700 dark:text-surface-100 text-center flex flex-col items-center gap-4">
        <img src="images/logo2.jpg" alt="Logo" class="h-20 w-20 rounded-full" />
        <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl leading-tight">Join our community
        </div>
        <div class="text-surface-700 dark:text-surface-100 text-xl leading-normal">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Velit numquam eligendi quos.</div>
        <div class="card flex justify-center flex-wrap gap-4 items-center">
            <p-button label="Contact us" icon="pi pi-box" size="small" routerLink="/dashboard/contact-us" />
        </div>
    </div>
</div>

<app-pricing></app-pricing>
<app-projects-component></app-projects-component>
<app-contact></app-contact>