@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: var(--p-surface-ground);
}
