<div class="project-container">
  <div class="project-container__content">
    <div class="project-container__header">
      <div class="project-container__title">
        <span class="project-container___start-title">One Product, </span>
        <span class="project-container__end-title">Many Solutions</span>
      </div>
      <div class="project-container__description">
        Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
      </div>
    </div>

    <div class="project-container__info">
      @for (project of projects; track project) {
      <app-project-card [project]="project"></app-project-card>
      }
    </div>
  </div>
</div>
